<a href="https://colab.research.google.com/github/aliraza33833/CE156/blob/main/week01/Exercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 8
y = 4
x += y
print('New x and y values are ', x, ', ', y)

New x and y values are  12 ,  4

In [3]:
x = 8
y = 4
x -= y
print('New x and y values are ', x, ', ', y)

New x and y values are  4 ,  4

In [4]:
x = 8
y = 4
x *= y
print('New x and y values are ', x, ', ', y)

New x and y values are  32 ,  4

In [5]:
x = 8
y = 4
x /= y
print('New x and y values are ', x, ', ', y)

New x and y values are  2.0 ,  4

In [6]:
x = 8
y = 4
x %= y
print('New x and y values are ', x, ', ', y)

New x and y values are  0 ,  4

In [7]:
x = 8
y = 4
x //= y
print('New x and y values are ', x, ', ', y)

New x and y values are  2 ,  4

In [8]:
x = 8
y = 4
x **= y
print('New x and y values are ', x, ', ', y)

New x and y values are  4096 ,  4